[submodule "lely/lely_core"]
	path = lely/lely-core
	url = git@github.com:DroidDrive/lely-core.git
	branch = duck_devel_ecss
[submodule "lely/lely-core"]
	path = lely/lely-core
	url = git@github.com:DroidDrive/lely-core.git
	branch = duck_devel_ecss
